@* Administrador escolar: solo gestión de usuarios *@
<li class="nav-item">
    <a href="@Url.Action("Index", "User")" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>Administrar Usuarios</p>
    </a>
</li>
