@* Club de Padres: Mensajería + módulo ClubParents (/User solo admin y director) *@
@await Html.PartialAsync("_MessagingSidebar")
<li class="nav-item">
    <a href="/ClubParents/Students" class="nav-link">
        <i class="nav-icon fas fa-hand-holding-usd"></i>
        <p>Club de Padres</p>
    </a>
</li>
